*
{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

body {
  background: linear-gradient(
    rgba(48, 16, 255, 1) 0%,
    rgb(255, 146, 100) 100%
  );
}

h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(185, 185, 185);
  margin-bottom: 40px;
  font-weight: lighter;
}

b {
  color: white;
}

.dateChoose {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 4px 4px 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 130px;
  background: transparent;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.dateEdit {
  width: 90px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 520px;
  min-height: 600px;
  background: #161a2b;
  text-align: center;
  margin: 128px auto;
  border-radius: 10px;
  padding-bottom: 32px;
}

img {
  margin: 5px auto;
  max-height: 200px;
}

.inputTodo {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 4px 4px 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  margin-bottom: 10px;
}

.addTodo {
  padding: 16px;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.delEdit {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 6px;
  font-size: 12px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
}

.isComplete {
  width: 15px;
  height: 15px;
}

.overdueText {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
  margin-bottom: 1px;
  color: #fff;
  background: linear-gradient(
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );

  padding: 12px;
  border-radius: 10px;
  width: 70%;
}

.ontimeText {
  display: flex;
  text-align: center;
  justify-content: space-between;
  align-items: center;
  margin: 24px auto;
  margin-bottom: 1px;
  color: #fff;
  background: linear-gradient(
    rgb(20, 137, 255) 0%,
    rgb(17, 223, 255) 100%
  );

  padding: 12px;
  border-radius: 10px;
  width: 70%;
}

.todoEditText {
  width: 10%;
}

.completeEdit {
  margin-top: 20px;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 8px;
  border: none;
  border-radius: 4px 4px 4px 4px;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.popup-box {
  position: fixed;
  left: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
}

.box {
  position: relative;
  width: 50%;
  min-height: 300px;
  background-color: #c5c5c5;
  border: 1px solid #999;
  border-radius: 12px;
  margin: 20px auto;
  overflow: auto;
}

.btn-close {
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  position: fixed;
  right: 25.11%;
}